In [1]:
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objects as go
pd.options.plotting.backend = 'plotly'
import string
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
import collections

In [2]:
data_analyst = pd.read_csv('data-analyst.csv')
data_engineer = pd.read_csv('data-engineer.csv')
data_scientist = pd.read_csv('data-scientist.csv')

combine_data = pd.concat([data_analyst, data_engineer, data_scientist])
combine_data

,jobId,employerId,employerName,employerProfileId,employerProfileName,jobTitle,locationName,minimumSalary,maximumSalary,currency,expirationDate,date,jobDescription,applications,jobUrl,fullDescription
0,41585234,626228,Aggregator Network,NaN,NaN,"Analyst, Client Data Analyst",London,NaN,NaN,NaN,26/01/2021,15/12/2020,MAIN PURPOSE OF THE ROLE Within Client Managem...,11,https://www.reed.co.uk/jobs/analyst-client-dat...,<strong>MAIN PURPOSE OF THE ROLE </strong><br ...
1,41560037,626228,Aggregator Network,NaN,NaN,Data Analyst / Business Analyst - Indices / Po...,London,NaN,NaN,NaN,23/01/2021,12/12/2020,As a Data Analyst / Business Analyst you will ...,7,https://www.reed.co.uk/jobs/data-analyst-busin...,As a Data Analyst / Business Analyst you will ...
2,41558134,626228,Aggregator Network,NaN,NaN,Business Data Analyst - Reference Data Platfor...,London,NaN,NaN,NaN,23/01/2021,12/12/2020,The solution will be a combination of on an in...,4,https://www.reed.co.uk/jobs/business-data-anal...,The solution will be a combination of on an in...
3,41557531,626228,Aggregator Network,NaN,NaN,Graduate Data Analyst,Northern Ireland,NaN,NaN,NaN,23/01/2021,12/12/2020,AECOM is built to deliver a better world. We d...,20,https://www.reed.co.uk/jobs/graduate-data-anal...,AECOM is built to deliver a better world. We d...
4,41557524,626228,Aggregator Network,NaN,NaN,Credit/Data Analyst - CONTRACT IMMEDIATE START,London,NaN,NaN,NaN,23/01/2021,12/12/2020,My client is a top-tier asset manager looking ...,24,https://www.reed.co.uk/jobs/credit-data-analys...,My client is a top-tier asset manager looking ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
717,41737903,592596,The Royal Society of Chemistry,NaN,NaN,Data Scientist,Cambridge,50184.0,55760.0,GBP,24/02/2021,13/01/2021,The RSC is the world’s leading chemistry commu...,9,https://www.reed.co.uk/jobs/data-scientist/417...,The RSC is the world’s leading chemistry commu...
718,41671784,523950,Futurus Search & Selection Limited,NaN,NaN,Data Scientist,London,60000.0,80000.0,GBP,16/02/2021,05/01/2021,We are looking for an experienced Data Scient...,11,https://www.reed.co.uk/jobs/data-scientist/416...,<p>We are looking for an experienced Data Sci...
719,41709713,429392,Searchability,NaN,NaN,Senior Data Scientist,Cheltenham,32000.0,38500.0,GBP,16/01/2021,09/01/2021,SENIOR DATA SCIENTIST - DV CLEARED NEW PERMAN...,0,https://www.reed.co.uk/jobs/senior-data-scient...,<p><strong>SENIOR DATA SCIENTIST - DV CLEARED...
720,41709711,429392,Searchability,NaN,NaN,Lead Data Scientist - DV cleared,Cheltenham,45000.0,50000.0,GBP,16/01/2021,09/01/2021,LEAD DATA SCIENTIST - DV CLEARED NEW PERMANEN...,0,https://www.reed.co.uk/jobs/lead-data-scientis...,<p><strong>LEAD DATA SCIENTIST - DV CLEARED</...
721,41709707,429392,Searchability,NaN,NaN,Principal Data Scientist - DV Cleared,Cheltenham,60000.0,70000.0,GBP,16/01/2021,09/01/2021,PRINCIPAL DATA SCIENTIST - DV CLEARED NEW PER...,0,https://www.reed.co.uk/jobs/principal-data-sci...,<p><strong>PRINCIPAL DATA SCIENTIST - DV CLEA...